[submodule "libDaisy"]
	path = libDaisy
	url = https://github.com/electro-smith/libDaisy
[submodule "DaisySP"]
	path = DaisySP
	url = https://github.com/electro-smith/DaisySP
[submodule "Terrarium"]
	path = Terrarium
	url = https://github.com/PedalPCB/Terrarium
[submodule "cenote/JUCE"]
	path = cenote/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
